<h1>The HELP page</h1>
<p>Not sure what kind of help you need...</p><br>
<p>This site is kinda basic..</p><br>
<p>If you cant figure out that it sucks and theres no functionality that you would need help with then, sorry to say, you are helpless</p>
